services:
  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: local
    restart: always
    ports:
      - "8084:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db: 
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"
    volumes:
      - ./backend/sql:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: