services:
  web:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8084:80"
    volumes:
      - .:/var/www/html

  api:
    build:
      context: backend
      dockerfile: Dockerfile
    restart: always
    container_name: things
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8083:8080"
      