services:
  web:
    build:
      context: frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "85:80"
    depends_on:
      - api

  api:
    build:
      context: backend
      dockerfile: Dockerfile
    container_name: things
    environment:
      - SPRING_PROFILES_ACTIVE= dev
      - API_BACKEND_URL= http://host.docker.internal:8080/api
    ports:
      - "8083:8080"